<nav>
    <span class="font-bold">Guitar Store</span>
    <ng-container *ngIf="user !== undefined">
        <ul>
            <li>
                <a routerLink="/guitars">Guitars</a>
            </li>
            <li>
                <a routerLink="/profile">Profile</a>
            </li>
        </ul>
    </ng-container>
</nav>
