<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="mb-3">
        <label class="block" for="username">Username</label>
        <input 
        ngModel
        #username="ngModel"
        class="border border-slate-300" 
        placeholder="username" 
        type="text" 
        name="username" 
        id="username">
    </fieldset>
    <button type="submit" class="bg-yellow-200 p-2 rounded-sm">Login</button>
</form>
