<aside>
    <button
    (click)="onFavouriteClick()" 
    >

    <div *ngIf="!_loading; else spinner">
        <ng-container *ngIf="isFavourite; then favourite else notFavourite"></ng-container>
        <ng-template #favourite>
            <svg width="71" height="71" viewBox="0 0 71 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="35.5" cy="35.5" r="35.5" fill="#FAFCFF"/>
                <path d="M0 35.5C0 15.8939 15.8939 0 35.5 0V0C55.1061 0 71 15.8939 71 35.5V36H0V35.5Z" fill="#E64556"/>
                <rect y="33" width="71" height="5" fill="#4C4C4C"/>
                <circle cx="35.5" cy="35.5" r="10" fill="#FAFCFF" stroke="#4C4C4C"/>
                <circle cx="35.5" cy="35.5" r="6" fill="#FAFCFF" stroke="#4C4C4C"/>
            </svg>
        </ng-template>
        <ng-template #notFavourite>
            <b>catch</b>
        </ng-template>
    </div>

    <ng-template #spinner><b>loading..</b>></ng-template>
    
    </button>
</aside>
