<li *ngIf="guitar">
    <app-favourite-button [guitarId]="guitar.id"></app-favourite-button>
    <section>
        <img [src]="guitar.image" [alt]="guitar.model" class=" w-32" />
    </section>
    <section>
        <span>{{guitar.model}} by {{guitar.manufacturer}}</span>
        <span class="block">Style: {{guitar.bodyType}}</span>
        <span class="block">Materials</span>
        <ul>
            <li>Neck: {{guitar.materials.neck}}</li>
            <li>Fretboard: {{guitar.materials.fretboard}}</li>
            <li>body: {{guitar.materials.body}}</li>
        </ul>
    </section>
</li>
